@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: #c2d5e3;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 20px;
    padding: 18px;
}

.userList {
    display: flex;
    width: 356px;
    max-height: 920px;
    background-color: #fff;
    border-radius: 14px;
    overflow-y: auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.208);
}

.user {
    width: 100%;
    margin: 18px 0;
}

.userId {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 18px 8px;
    margin: 0 18px;
}
.userId h4 {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}
.userImg {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.userId:hover {
    border-radius: 8px;
    background-color: #50505031;
}

.userCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 350px;
    height: fit-content;
    background-color: whitesmoke;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.208);
}

.closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
}

.userCardImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.userCard h2 {
    font-family: "Poppins" sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.addRole {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #c2d5e3;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
}

.newRole {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 350px;
    height: fit-content;
    background-color: whitesmoke;
    padding: 14px;
    border-radius: 16px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.208);
}

.newRole input {
    width: 40%;
    border: 1px solid #c2d5e3;
    border-radius: 4px;
}

.newRole form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.formInput {
    display: flex;
    justify-content: space-around;
}

.newRole button {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #c2d5e3;
    cursor: pointer;
}

.roleslist {
    width: 250px;
    height: fit-content;
    max-height: 600px;
    overflow-y: scroll;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.208);
    padding: 14px;
    border-radius: 16px;
}
.roleslist ul {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.role-item {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: 6px;
    width: fit-content;
    padding: 1px 8px;
    cursor: pointer;
}

.role-item:hover {
    background-color: #c2d5e3;
}

.role-item .rmRole {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
